{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche Boyer</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <header>
        <h1>Recherche Boyer-Moore-Horspool</h1>
    </header>

    <div class="rectangle">

        <div class="formulaire">
            <form method="post">{% csrf_token %}
                <textarea name="texte" id="" cols="30" rows="6" placeholder="écrivez votre texte ici" required></textarea>
                <input type="text" name="motif" placeholder="mot rechercher" required>
                <button type="submit">Rechercher</button>
            </form>
        </div>

        <div class="resultat">
            <h2>Mot Rechercher:</h2>
            <p>{{ motif }}</p>
            <h2>Texte:</h2>
            <p>{{ texte_gauche }}<em>{{ texte_millieu }}</em>{{ texte_droit }}</p>
        </div>

    </div>

</body>
</html>